button {
    border: none;
    outline: none;
    background: none;
    font: inherit;
    cursor: pointer;
    color: inherit;
    padding: 0;
    margin: 0;
}

a {
    text-decoration-line: none;
    color: inherit;
}

li {
    list-style: none;
}
ul, ol, dl, dd, dt, li, h1, h2, h3, h4, h5, h6, p, form, fieldset, legend, input, textarea, button, select, table, th, td, caption, hr {
    padding: 0;
    margin: 0;
}